body {
    padding: 0;
    margin: 0;
    font-family: Rubik,sans-serif;
}

.breadcrumb {
    background-color: #f4f6f9 !important;
}

.wrapper_container {
    top: 0;
    height: 100%;
    padding: 1rem;
}
.class_for_padding {
    padding: 2rem 0 0 0;
}

.fade-in-image { animation: fadeIn .5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* .class_for_padding {
    max-width:1200px;
} */
